<!doctype html>

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/js/all.min.js"></script>
<script src="{{ url_for('static', filename='helper.js') }}"></script>
<script src="{{ url_for('static', filename='socket-helper.js') }}"></script>
<script src="{{ url_for('static', filename='status.js') }}"></script>
<script src="{{ url_for('static', filename='library.js') }}"></script>

<title>MPD Web GUI</title>
<div id="player">
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    {%  include 'status.html' %}
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
{#                <div class="card-body">#}
                    {%  include 'library.html' %}
{#                </div>#}
            </div>
        </div>
    </div>
</div>
